@model web.Models.ExercisePerformed

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>ExercisePerformed</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="exerciseName" class="control-label"></label>
                <input asp-for="exerciseName" class="form-control" />
                <span asp-validation-for="exerciseName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="time" class="control-label"></label>
                <input asp-for="time" class="form-control" />
                <span asp-validation-for="time" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="weight" class="control-label"></label>
                <input asp-for="weight" class="form-control" />
                <span asp-validation-for="weight" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="sets" class="control-label"></label>
                <input asp-for="sets" class="form-control" />
                <span asp-validation-for="sets" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="reps" class="control-label"></label>
                <input asp-for="reps" class="form-control" />
                <span asp-validation-for="reps" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

