@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <br>
    <h1 class="display-4">Fitness Tracker</h1>
    <br>
    <h3>The best way to track your fitness progress.</h3>
    <br>
    <img src="~/Images/barbell.jpg" alt="Barbell Picture">
</div>
